.login_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: url(/src/assets/Login-Page.jpg);
    background-size: cover;
    width: 100%;
}

.cntr_cls {
    display: flex;
    justify-content: end;
    align-items: center;
}

.cntr_cls .box {
    position: relative;
    width: 400px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cntr_cls .box .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cntr_cls .box .shadow::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(100% + 96px);
    width: 120%;
    height: 240%;
    background: linear-gradient(rgba(0, 0, 0, 0.075), transparent);
    transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
}

.cntr_cls .box .shadow::after {
    content: "";
    position: absolute;
    bottom: -200%;
    left: calc(100% + 80px);
    width: 100%;
    height: 200%;
    background: linear-gradient(rgba(0, 0, 0, 0.075), transparent);
    transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
}

.cover {
    position: absolute;
    top: 0;
    left: -100px;
    width: 100px;
    height: 100px;
    background: #cfd1e1;
    z-index: 10;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(#dbdae1, #a3aaba);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), 15px 15px 15px rgba(0, 0, 0, 0.1),
        20px 10px 20px rgba(0, 0, 0, 0.1), 50px 50px 85px rgba(0, 0, 0, 0.25),
        inset 3px 3px 2px #fff;
    border-radius: 30px;
}

.content .form {
    position: relative;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #444;
    color: #fff;
    font-size: 1.75em;
    margin-bottom: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.content .form h2 {
    font-size: 2em;
    color: #444;
}

.content .form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 30px;
}
.content .form .links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.content .form .links a {
    color: #444;
    text-decoration: none;
    font-size: 0.9em;
}
.inputBox input:focus {
    background: transparent; /* Less transparency on focus */
    box-shadow:none; /* Add a slight shadow effect */
  }


  .log-logo-sec {
    position: absolute;
    top: 5%;
    left: 4%;
    width: 25%;
}
.log-logo-sec img{
    width: 100%;
    object-fit: cover;
}
