.login_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: url(/src/assets/Login-Page.jpg);
  /* background: url(/src/assets/Login-Page.png); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.cntr_cls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cntr_cls .box {
  position: relative;
  width: 400px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cntr_cls .box .shadow {
  position: absolute;
  /* width: 100%; */
  /* height: 100%; */
}

.cntr_cls .box .shadow::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% + 96px);
  width: 120%;
  height: 240%;
  background: linear-gradient(rgba(0, 0, 0, 0.075), transparent);
  transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  -o-transform: skewX(45deg);
}

.cntr_cls .box .shadow::after {
  content: "";
  position: absolute;
  bottom: -200%;
  left: calc(100% + 80px);
  width: 100%;
  height: 200%;
  background: linear-gradient(rgba(0, 0, 0, 0.075), transparent);
  transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  -o-transform: skewX(45deg);
}

.cover {
  position: absolute;
  top: 0;
  left: -100px;
  width: 100px;
  height: 100px;
  background: #cfd1e1;
  z-index: 10;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  /* background: #9047b4;
    box-shadow: 20px 20px 60px #2e0641, -20px -20px 60px #3e0859; */
    background: rgba( 82, 11, 118, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 30px;
}
.css-ymlv7e .css-qwdxx6 {
  padding: 9.5px 0px 8.5px 14px;
}

.content .form {
  position: relative;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #b84ff1;
  color: #fff;
  font-size: 1.75em;
  margin-bottom: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.content .form h2 {
  font-size: 2em;
  color: #c264f4;
}

.content .form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 16px;
}
.content .form .links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.content .form .links a {
  color: #444;
  text-decoration: none;
  font-size: 0.9em;
}
.inputBox input:focus {
  background: transparent; /* Less transparency on focus */
  box-shadow: none; /* Add a slight shadow effect */
}

.log-logo-sec {
  position: absolute;
  top: 5%;
  left: 4%;
}
.log-logo-sec img {
  width: 6%;
  /* filter: brightness(0) invert(1); */
  object-fit: cover;
}
.logo_head h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
}
.logo_head h6 {
  color: #fff;
  font-size: 13px;
}
.left_fig {
  width: 80%;
  text-align: center;
  margin: 20% auto 0;
  /* width: 5%; */
}
.left_fig img {
  width: 100%;
  object-fit: cover;
}
input:-webkit-autofill {
  color: #c264f4 !important;
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}
